body{
	background-image: url("https://cdn.pixabay.com/photo/2020/04/22/12/12/background-5077810_960_720.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#form{
	justify-content: center;
	width: 400px;
	height: 400px;
	 position: relative;
        top:5%;
        left: 5%; 
	width:90%;
	height:200px;
   	border-radius: 40px;	
}
